# =========================================================
# ENVIRONMENT / SECRETS
# =========================================================

.env
.env.*
!.env.example

/auth-fcv/.env
/blog-fcv/.env
/inv-fcv/.env
/hr-fcv/.env
/frontend/.env



# =========================================================
# AUTH SERVICE
# =========================================================

/auth-fcv/vendor/
/auth-fcv/node_modules/

/auth-fcv/storage/logs/*
/auth-fcv/storage/framework/cache/*
/auth-fcv/storage/framework/sessions/*
/auth-fcv/storage/framework/views/*
/auth-fcv/storage/*.key


# =========================================================
# BLOG SERVICE
# =========================================================

/blog-fcv/vendor/
/blog-fcv/node_modules/

/blog-fcv/storage/logs/*
/blog-fcv/storage/framework/cache/*
/blog-fcv/storage/framework/sessions/*
/blog-fcv/storage/framework/views/*
/blog-fcv/storage/*.key

# =========================================================
# INV SERVICE
# =========================================================

/inv-fcv/vendor/
/inv-fcv/node_modules/

/inv-fcv/storage/logs/*
/inv-fcv/storage/framework/cache/*
/inv-fcv/storage/framework/sessions/*
/inv-fcv/storage/framework/views/*
/inv-fcv/storage/*.key

# =========================================================
# HR SERVICE
# =========================================================

/hr-fcv/vendor/
/hr-fcv/node_modules/

/hr-fcv/storage/logs/*
/hr-fcv/storage/framework/cache/*
/hr-fcv/storage/framework/sessions/*
/hr-fcv/storage/framework/views/*
/hr-fcv/storage/*.key

# =========================================================
# FRONTEND
# =========================================================

/frontend/node_modules/
/frontend/dist/
/frontend/build/


# =========================================================
# DOCKER
# =========================================================

docker-compose.yml
docker-compose.override.yml


# =========================================================
# GENERAL
# =========================================================

*.log
.phpunit.result.cache